*{
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 :root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
  }

  
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);

}

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--nav-bg-color);
    color: var(--text-color);
    margin: auto;
    flex-direction: row;
    padding: 12px 16px;
    top: 0;
    z-index: 1;


}

h2.title{
    width: 100%;
    min-width: 23.4375rem;
    max-width: 1200px;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin: 200px auto 20px ;
}

.text--small{
    font-size: 1rem;
    font-weight: 300;

}

p{
    font-family: "Quicksand", sans-serif;

}

.footer__titles li a{
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    
}


/* Footer */

footer{
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  min-width: 23.4375rem;
  width: 100%;
  height: auto;
  margin: 9.375rem auto 0;

}

.footer__titles{
  
  justify-content: center;
  text-align: center;
  margin-bottom: -1.875rem;
}

.footer__titles a{
  margin: 0 1.25rem;
  letter-spacing: 2px;
  color: var(--link-color);
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s linear;
  text-transform: uppercase;
}

.text--rights{
  font-size: 0.80rem;
  color: var(--link-color);
  margin-bottom: 2.5rem;
}

.social__media{
  display: flex;
  width: 12.5rem;
  height: 6.25rem;
  margin: auto;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.social__media img{
  margin: 0 0.625rem;
}

/* Footer - links com mudanças de cor */

.footer__titles a:hover{
  color: white;

}

/* Acessibilidade para dispositivos móveis */



@media screen and (max-width: 480px){
  
  
  body{
    margin: 0;
    padding: 0;

  }

  
  header.navbar{
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 150px  !important;
    padding: 32px 24px;
    gap: 24px;
    margin: 0 !important;
  }

  

  .navbar__logo{
    width: auto;
    display: flex !important;
    justify-content: center !important;
    align-content: center;
    align-items: center;
    margin: auto !important;
  }

  .navbar__logo img{
    max-width: 100px;
    height: auto;
    padding: 0;
    margin: 0 auto;
    
  }

  .menu{
    min-width: 22.5rem;
    max-width: 480px;
    margin: auto;
    display: flex !important;
    justify-content: center !important ;
    justify-items: center !important;
    align-items: center !important;
    align-content: center !important;
    gap: 12px;
    /*margin-right: 2.5rem;*/
  }

  .menu__button{
    width: 60px;
    height: 15px;
  }

  .menu__button--signature{
    width: 165px;
  }

  .plans{
    width: 22.5rem;
    margin: 150px auto !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    background-position: center top;
    background-size: cover;
  }

  .plans__tv{
    width: 22.5rem;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;

  }

  .plans__tv img{
    min-width: 4rem;
    min-height: 2rem;
  }

  .title{
    min-width: 360px;
  }
  
  .title h1{
    text-align: center !important;
    text-wrap: wrap !important;
  
  }
}

@media screen and (width:540px){
  div.plans__tv{
    width: 100%;
    min-width: 300px;
    flex-wrap: wrap;
    
  }

  .plans__tv img{
    justify-content: space-between;
    max-width: 70px;
    height: 60px;
  }

  img.wb-logo{
    width: 40px;
    height: 40px;
  }

  img.max-logo{
    width: 55px;
    height: 40px;
  }
}

@media screen and (width: 360px){
  
  div.plans__tv{
    width: 100%;
    min-width: 360px;
    flex-wrap: wrap;
  }

  
  .plans__tv img{
    justify-content: space-between;
    width: 100%;
    max-width: 20px;
    height: 40px;
    margin: 20px auto;
  }

  img.wb-logo{
    width: 20px;
    
  }

  img.max-logo{
    width: 20px;
  }
}



@media screen and (min-width: 360px) and (max-width: 1199px){
  

  

  .main h2{
    min-width: 360px;
    padding: 0;
    font-size: 1.5rem !important;
    margin: auto;
    text-align: center;
  }


  .card__box{
    min-width: 22.5rem;
    min-height: 87.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    
  }

  .card__box--container{
    min-width: 22.5rem;
    max-width: 100%;
    min-height: 44.375rem;

  }

  .card__box--container.card--mobile h3{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 30px;
  }

   .card__box--container.card--multitelas h3{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .money.color{
    text-align: center;
    flex-direction: row;
    align-items: center;
    align-content: center ;
    justify-content: center !important;
    justify-items: center;
  }

  .benefits li{
    font-size: 1.2rem;
  }

  .contents__card{
    animation: none !important;
    transition: none!important;
    transform: none !important;
  }

  a.signature, button{
    padding: 2.5rem;
    line-height: 1.5;
    transition: none !important;
    animation: none !important;
    transform: none !important;
    background: auto;
  }

  a.signature:hover{
    background-position: 100% !important;
    transform: none !important;
    border: none;
  }


  .animated__cards{
    flex: 0 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .animated__cards {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;        
    gap: 10px;                
    overflow-x: auto !important;         
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }

  .contents__card {
    width: 400px !important;
    padding: 0;
    margin: 0;
    max-width: none;
    flex: 0 0 auto;           
    scroll-snap-align: start;
    overflow: visible;         
  }

  .animated__cards::-webkit-scrollbar {
    display: visible;            
    width: 5px !important;
    height: 8px;
  
  }

  .contents__image{
    flex-direction: row;
  }

  .contents__card:hover{
    animation: none !important;
    transform: none !important;
    transition: none !important;
  }

    .title{
    width: 100%;
    min-width: 23.4375rem;
  }
  
  .title h1{
    text-align: center !important;
    text-wrap: wrap !important;
  
  }

  .linha-gradiente{
    min-width: 20rem;
    width: 100%;
  }

  footer{
    display: flex;
    flex-direction: column;
    max-width: 22.5rem;
    width: 100%;
    height: auto;
  }
  

.footer__titles{
  display: flex !important;
  flex-direction: column !important;
  max-width: 22.5rem;
  width: 100%;

}

.footer__titles a{
  margin: 8px auto !important;
   font-size: 15px;
   font-weight: 800;
}

div.rights{
  min-width: 22.5rem;
  max-width: 100%;

}


div.rights p{
  white-space: wrap;
  flex-wrap: wrap;
}

}

@media (pointer: coarse) {

  .contents__card:hover {
    transform: none !important;
    background-image: none !important;
    border: none !important;
  }
  .contents__card:hover .contents__image {
    opacity: 1 !important;
  }

  .menu__button.menu__button--signature.button:hover{
    color: var(--text-color);
    background: var(--tertiary-color);
    opacity: none;
  }

  .cards__button a.signature.card__signature:hover{
   
    color: var(--text-color) !important;
    background: var(--btn-bg-color-gradient);
    opacity: 1 !important;
    outline: none;
    transform: none !important;
    animation: none !important;
    transition: none !important;
    background-size: 250%;

  }

  a.signature{
    color: var(--text-color) !important;
    background-size: 250% !important;
    opacity: 1 !important;
    outline: none !important;
    transform: none !important;
    animation: none !important;
    transition: none !important;
  }

  a.signature:hover{
    background: var(--btn-bg-color-gradient) !important;
    border: transparent;
    outline: transparent;
    background-size: 250% !important;
  }

  .card__box--container {
    animation: none !important;
    transition: none !important;
    transform: none !important;
}
}