*{
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 :root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
  }

  
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);

}

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: var(--nav-bg-color);
    color: var(--text-color);
    margin: auto;
    flex-direction: row;
    padding: 12px 16px;
    top: 0;
    z-index: 1;


}

h2.title{
    width: 100%;
    max-width: 1200px;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin: 200px auto 20px ;
}

.text--small{
    font-size: 1rem;
    font-weight: 300;

}

p{
    font-family: "Quicksand", sans-serif;

}

.footer__titles li a{
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    
}


/* Footer */

footer{
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: auto;
  margin: 9.375rem auto 0;

}

.footer__titles{
  
  justify-content: center;
  text-align: center;
  margin-bottom: -1.875rem;
}

.footer__titles a{
  margin: 0 1.25rem;
  color: var(--link-color);
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s linear;
  text-transform: uppercase;
}

.text--rights{
  font-size: 0.80rem;
  color: var(--link-color);
  margin-bottom: 2.5rem;
}

.social__media{
  display: flex;
  width: 12.5rem;
  height: 6.25rem;
  margin: auto;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.social__media img{
  margin: 0 0.625rem;
}

/* Footer - links com mudanças de cor */

.footer__titles a:hover{
  color: white;

}

/* Acessibilidade para dispositivos móveis */



@media screen and (max-width: 480px){
  
  
  body{
    margin: 0;
    padding: 0;

  }

  
  header.navbar{
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 150px !important;
    padding: 32px 24px;
    gap: 24px;
    margin: auto !important;
  }

  .navbar__logo{
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    margin: auto !important;
  }

  .navbar__logo img{
    display: block;
    max-width: 100px;
    /*margin-right: 6.25rem;*/
  }

  .menu{
    max-width: 480px;
    display: flex !important;
    justify-content: center !important ;
    justify-items: center !important;
    align-items: center !important;
    align-content: center !important;
    gap: 12px;
    /*margin-right: 2.5rem;*/
  }

  .menu__button{
    width: 60px;
    height: 15px;
  }

  .menu__button--signature{
    width: 165px;
  }

  .plans{
    width: 360px;
    margin-top: 150px !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    background-position: center top;
    background-size: cover;
  }

  .plans__tv{
    width: 480px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;

  }

  .plans__tv img{
    min-width: 4rem;
    min-height: 2rem;
  }

  .title{
    min-width: 360px;
  }
  
  .title h1{
    text-align: center !important;
    text-wrap: wrap !important;
  
  }
}



@media screen and (min-width: 360px) and (max-width: 1200px){
  


  .card__box{
    min-width: 414px;
    min-height: 1400px;
    flex-wrap: wrap;
    
  }

  .card__box--container{
    min-width: 414px;
    min-height: 650px;
    animation: none;
    transition: none;
    transform: none;
  
  }

  .contents__card{
    animation: none !important;
    transition: none!important;
    transform: none !important;
  }

  a.signature, button{
    padding: 2.5rem;
    line-height: 1.5;
    transition: none !important;
    animation: none !important;
    transform: none !important;
    background: auto;
  }

  a.signature:hover{
    background-position: 100% !important;
    transform: none !important;
    border: none;
  }

  .contents__card:hover{
    animation: none !important;
    transform: none !important;
    transition: none !important;
  }

    .title{
    width: 100%;
    min-width: 360px;
  }
  
  .title h1{
    text-align: center !important;
    text-wrap: wrap !important;
  
  }

  .linha-gradiente{
    min-width: 20rem;
    width: 100%;
  }

  
}

.card__box:has(.card--mobile:hover) .card--multitelas {
  transform: none !important;
}

.card__box:has(.card--multitelas:hover) .card--mobile{
  transform: none !important;
  
}


@media (pointer: coarse) {
.contents__card:hover {
  transform: none;
}
}