@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");
@import url(./global.css);

  :root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
  }

body{
    margin: auto;
    background-color: var(--primary-color);
  }

 /* Menu de navegação */ 

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg-color);
    color: var(--text-color);
    margin: auto;
    flex-direction: row;
    padding: 12px 16px;
    top: 0;


}

/* Logo da HBOX no menu de navegação */

.navbar__logo{
    width: 10rem;
}

.navbar__logo img{
    width: 100%;
}

.menu div{
    margin-right: 0.5rem;
}


/* Botões Entrar e assine agora */


.menu__button{ 
    margin-right: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.75rem;
}

.menu__button--signature{
    background-color: var(--tertiary-color);
    width: 10rem;
    border-radius: 500px;
    padding: 0.5rem 1.625rem;
    border: none;
    transition: background 1s, color 1s;

}

.menu__button--signature:hover{
    background-color: var(--btn-link-bg-color);
    color: var(--btn-link-color);
}

/* Conteúdo de chamada para assinar o plano com promoção */


div.plans{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 100px 0 300px;
  align-items: center;
  align-content: center;
  background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite alternate;
}


div.plans::after{
  content: "";
  width: 100%;
  height: 250px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, var(--primary-color), transparent);
}


section.plans__tv{
  justify-content: center;
  align-content: center;
  margin: -2.5rem 0 0 0;
}


/* Logo das produtoras de contéudo */

.plans__tv--img{
  width: 100px;
  max-width: 100%;
  margin: 0 0.9375rem 1.5625rem 0.9375rem;
}

.wb-logo{
  width: 1.875rem;
  height: 2.5rem;
  margin: 0.625rem 0.9375rem 2rem 0.9375rem;
}

.max-logo{
  margin: 2.1875rem 0.9375rem ;
}


.title{
  margin-top: 1.25rem;

}

/* Títulos da primeira chamada para assinar o plano da HBO MAX */


.title h1{
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 2rem;
  font-weight: 300;

}

span#title__big {
  font-weight: bold;
  font-size: 3rem;
}

/* Linha gradiente */

.linha-gradiente{
  width: 43.75rem;
  height: 0.3125rem;
  margin-top: 2.5rem;
  margin-bottom: 30px;
  background: var(--divider-bg-color);
}

p.text--normal{
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.5;
}

p.money{
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

span.month{
  font-size: 1rem;
  font-weight: normal;
  color: white;
}

/* Primeira chamada para a aquisição de plano da HBO */

a.signature{
  display: flex;
  width: 15.625rem;
  height: 3.125rem;
  border-radius: 500px;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 2rem auto 0 auto; 
  background: var(--btn-bg-color-gradient);
  outline: 3px solid transparent;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 700;
  transition: background 1s, outline 1s, transform 1s;
  background-size: 250%;
  cursor: pointer;
  animation: wiggle 2.2s linear infinite;
}

a.signature:hover{
  background-color: transparent;
  background-position: 100%;
  outline: 2px solid var(--secondary-color);
  transform: scale(1.05);
}

p.text--small{
  text-align: center;
  line-height: 1.2;
  margin-top: 40px;
}

/* Planos mobile e multitelas*/

main{
  width: 100%;
  min-height: 80vh;
  margin-top: 60px;
  background: url('../images/background-movies-series.png') no-repeat;
  background-size: contain;
  
}

.main{
  perspective: 300px;
}

h2.main__title{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.card__box{
  display: flex;
  justify-content: center;

  width: 100%;
  margin: 3.125rem auto;
  height: 37.5rem;
}

.card__box--container{
    display: flex;
    flex-direction: column;
    width: 31.25rem;
    height: 31.25rem;
    border-radius: 0.3125rem;
    margin: 0 6.25rem;
    background: var(--card-bg-color);
    padding: 3.125rem;
    transition: transform 0.6s linear;
    transform-origin: center top;
    transform-style: preserve-3d;
}

/* Preço do contéudo dos cards*/

.money.color{
  display: flex;
  justify-content: end;
  align-items: center;
  align-content: center;
  font-size: 1.5rem;
  color: var(--secondary-color);
  margin-top: -1.5625rem;
}

.month{
  margin-top: 0.3125rem;
  margin-left: 0.25rem;
}

/* Benefits cards*/

div.benefits{
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  text-align: left;
  
}

div.benefits ul{
  display: flex;
  flex-direction: column;
  margin-top: 0.3125rem;
  gap: 1.5rem;
  font-size: 1.25rem;
  list-style: "+   ";
}

/* Botão de assintura dos cards */


div.cards__button.mobile{
  display: flex;
  align-items: end;
  justify-content: center;
  justify-items: center;
  justify-content: center;
  margin: 0;
  padding:0;
  width: 100%;
  height: 15.625rem; 
}

div.cards__button.multitelas{
  display: flex;
  align-items: end;
  justify-content: center;
  justify-items: center;
  justify-content: center;
  margin: 0;
  padding:0;
  width: 100%;
  height: 8rem;
}


a.signature.card__signature{
  display: flex;
  justify-content: center;
  align-content: start;
  justify-items: center;
  align-items: center;
  width: 25rem;
  height: 2.5rem;
  margin-left: -1.25rem;
  text-align: center;
  animation: none;
  font-size: 1rem;
}


/* Universos da HBO */ 


.animated__cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0.625rem auto;
  text-align: center;
  
}

.contents__card{
  width: 100%;
  max-width: 340px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  margin: 0.9375rem auto;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: center;
  transition: transform 0.8s ease, background 0.8s ease, border 1s ease, opacity 0.8s ease;
  will-change: transform;
}

.contents__image{
  width: 100%;
  max-width: 340px;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: opacity 2s;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid transparent;
  border-radius: 1rem;
}

.contents__image img{
  width: 100%;
  height: auto;
  /*margin: 0 0.3125rem 2.5rem 0 ;*/
}

/* Footer titles */

footer{
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: auto;
  margin: 9.375rem auto 0;

}

.footer__titles{
  
  justify-content: center;
  text-align: center;
  margin-bottom: -1.875rem;
}

.footer__titles a{
  margin: 0 1.25rem;
  color: var(--link-color);
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s linear;
  text-transform: uppercase;
}

.text--rights{
  font-size: 0.80rem;
  color: var(--link-color);
  margin-bottom: 2.5rem;
}

.social__media{
  display: flex;
  width: 12.5rem;
  height: 6.25rem;
  margin: auto;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.social__media img{
  margin: 0 0.625rem;
}

/* Footer - links com mudanças de cor */

.footer__titles a:hover{
  color: white;

}



/* Animações de transição dos cards dos universos da HBO */

.contents__card:hover{
  border-radius: 1rem;
  border: 2px solid var(--tertiary-color);
  width: 100%;
  position: relative;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  transform: scale(1.05);
}

.contents__card:hover .contents__image {
  opacity: 0;
}

.contents__card:nth-child(2):hover {
  background-image: url("../images/hbo-hover_0.webp");

}

.contents__card:nth-child(3):hover {
  background-image: url("../images/MAX-Hover.webp");
}

.contents__card:nth-child(4):hover {
  background-image: url("../images/DC-Hover.webp");
}

.contents__card:nth-child(5):hover {
  background-image: url("../images/WB-Hover.webp");
}


.contents__card:nth-child(6):hover {
  background-image: url("../images/CN-Hover.png");
}


.contents__card:nth-child(7):hover {
  background-image: url("../images/UCL-Hover.webp");
}






/* Custom Scroll */

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb{
  background: var(--tertiary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: var(--secondary-color);
}



/* Animations */

@keyframes wiggle{
  0%{
    transform: rotate(0);
  }

  15%{
    transform: rotate(-15deg);
  }

  20%{
    transform: rotate(10deg);
  }

  25%{
    transform: rotate(-10deg);
  }

  30%{
    transform: rotate(10deg);
  }

  35%{
    transform: rotate(-10deg);
  }

  40%, 100%{
    transform: rotate(0);
  }

}

@keyframes gradient{

  0%{
    background-position: 0% 50%;
  }

  50%{
    background-position: 100% 50%;

  }

  100%{
    background-position: 0% 50%;
  }
}

/* Rotate cards*/

.card__box:has(.card--mobile:hover) .card--multitelas {

  transform: rotateX(15deg) rotateY(35deg);
}

.card__box:has(.card--multitelas:hover) .card--mobile{
  transform: rotateX(-15deg) rotateY(35deg);
}