@import url(./global.css);
@import url(./index.css);

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
  }


  body{
    overflow: hidden;
  }

.container{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -16.25rem;
    height: 100vh;
    max-height: 800px;
}

.container__box{
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 37.5rem;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    
}

.box{
    width: 50rem;
    height: 25rem;
    padding: 1.25rem;
    border: 1px solid transparent;
    border-radius: 5px;
    background: var( --form-bg-color);


}

.login__title{
    width: 100%;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;

}

.login__label{
    display: block;
    margin: 1.25rem 0.625rem;
}


input{
    width: 43.75rem;
    height: 3.125rem;
    margin: 0.625rem;
    border-radius: 10px;
    padding: 0.625rem;
    background-color: var(--form-field-bg-color);
    border: var(--form-field-border);
    color:white;
    outline: none;

    
}

/*input:invalid{
    border: 1px solid rgb(255, 76, 76);
}*/

input:user-invalid{
    border: 1px solid rgb(255, 76, 76);
}


input::placeholder{
    color: white;
    
}



div.buttons{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 20.625rem;
    height: 6.25rem;
    margin: 0.625rem;

}

button.signature.card__signature.signin{
    display: flex;
    width: 9.375rem;
    margin-left: 0.3125rem;
    margin-top: -0.3125rem;
    border: 1px solid transparent;
    animation: none;

}

button.signature.card__signature.signin:hover{
  background-color: transparent;
  background-position: 100%;
  outline: 2px solid var(--secondary-color);
  transform: scale(1.05);
}


.forget-password{
    color: var(--link-color);
    text-decoration: none;
    font-weight: 700;
}


/* Página de login para dispoitivos móveis*/

@media (pointer: coarse){

    main{
        background-image: none;
    }

   main.container{
        min-width: 300px;
        max-width: 600px;
        margin: 60px auto;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    
    }

    .container__box{
        width: 300px;
    }

    .box{
        width: 18.75rem;
        height: auto;
        margin: auto;
    }

    

    input{
        min-width: 200px !important;
        width: 100%;
        margin: 10px auto;
    }

 .signature{
    color: var(--text-color) !important;
    background-size: 250% !important;
    opacity: 1 !important;
    outline: none !important;
    transform: none !important;
    animation: none !important;
    transition: none !important;
  }

  .signature:hover{
    background: var(--btn-bg-color-gradient) !important;
    border: transparent;
    outline: transparent;
    background-size: 250% !important;
  }


    div.buttons{
        max-width: 10rem;
        display: flex;
        margin-left: -0.3125rem;
        align-content: flex-start;
        justify-items: flex-start;
        align-items: start;
        flex-direction: column; 
    
    }
    
    .buttons a{
        text-align: left;
        justify-content: start;
        align-items: start;
    }
    


    button{
    min-width: 150px;
    width: 100%;
    padding: 5px;
    margin: 20px auto;
    }    

    .forget-password{
        width: 150px;
        margin-left: 10px;
    }
    

    label{
        font-size: 0.875rem;
        text-align: center;
    }

    footer{
        min-width: 300px;
        max-width: 100%;
        margin: auto;
    }

}

@media screen and (min-width: 390px) and (max-width: 430px){

    main.container{
        margin-top: -20px;
    }

    body{
        margin: 0;
        padding: 0;
    }

    footer{
        margin: -180px auto;
    }

}

@media screen and (height: 507px){

    header.navbar{
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        width: 428px;
        height: 50px !important;
        padding: 0;
    }

    .navbar__logo img{
        width: 100px;
        height: auto;
        margin: 0 0 0 80px;
    }

    .menu__button.menu__button--signature.button a{
        max-width: 30px !important;
        margin: 0;
        width: 40px !important;
    }

    main.container{
        margin: 22px auto;
    }


    footer{
        margin:0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px){

    main{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
        margin: auto !important;
        min-height: 300px !important;

    
    }

    main.container{
        min-width: 600px;
        margin: 0 auto;
        


    }

    .container__box{
        width:100%;
        max-width: 800px;
        height: auto;
        
        

    }

    .box{
        min-width: 600px;
        max-width: 800px;
        
    }

    footer{
        margin: -60px auto !important;
        width: 100%;
    }

    div.footer__titles{
        width: 100%;
        max-width: 800px;
        display: flex;
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center;
        align-content: center;
        justify-items: center;
        
    }

    .footer__titles a{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        font-size: 12px;
    
        
    }
}
    