@import url(./global.css);
@import url(./index.css);

:root {
    --primary-color: #020228;
    --secondary-color: #ff00e5;
    --tertiary-color: #b535f6;
    --btn-bg-color-gradient: linear-gradient(
      45deg,
      #9b34ef 0%,
      #490cb0 20%,
      transparent 50%
    );
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(
      90deg,
      #5516ba,
      rgba(255, 0, 229, 0.5) 80%
    );
    --nav-bg-color: rgba(0, 0, 0, 0.3);
    --text-color: #fff;
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
  }


  body{
    overflow: hidden;
  }

.container{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -260px;
    height: 100vh;
    max-height: 800px;
}

.container__box{
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 37.5rem;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    
}

.box{
    width: 50rem;
    height: 25rem;
    padding: 1.25rem;
    border: 1px solid transparent;
    border-radius: 5px;
    background: var( --form-bg-color);


}

.login__title{
    width: 100%;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;

}

.login__label{
    display: block;
    margin: 1.25rem 0.625rem;
}


input{
    width: 43.75rem;
    height: 3.125rem;
    margin: 0.625rem;
    border-radius: 10px;
    padding: 0.625rem;
    background-color: var(--form-field-bg-color);
    border: var(--form-field-border);
    color:white;
    outline: none;

    
}

input:invalid{
    border: 1px solid rgb(255, 76, 76);
}


input::placeholder{
    color: white;
    
}



div.buttons{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 20.625rem;
    height: 6.25rem;
    margin: 0.625rem;

}

button.signature.card__signature.signin{
    display: flex;
    width: 9.375rem;
    margin-left: 0.3125rem;
    margin-top: -0.3125rem;
    border: 1px solid transparent;
    animation: none;

}

button.signature.card__signature.signin:hover{
  background-color: transparent;
  background-position: 100%;
  outline: 2px solid var(--secondary-color);
  transform: scale(1.05);
}


.forget-password{
    color: var(--link-color);
    text-decoration: none;
    font-weight: 700;
}

